.container {
  text-align: left;
  padding: 20px;
  margin-top: -40px;

}

.title {
  font-size: 24px;
  font-weight: bold;
}
.savebut{
  background-color: #5983bd;
  color: white;
  font-size: 15px;
  border: none;
  height: 60px;
  width: 300px;
  padding: 20px ;
  cursor: pointer;
  border-radius: 15px;
  border:1px solid #121265;
  transition: 0.5s;
}
.savebut:hover {
  background: #121265;
  color: #ffffff;
  border: 1px solid #444444;
  font-size: 18px;
}
.subtitle {
  font-size: 18px;
  color: #666;
}

@media (max-width: 568px) {
  .savebut{
    display: flex;
    justify-content: center;
    background-color: #5983bd;
    color: white;
    font-size: 12px;
    border: none;
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 15px;
    border:1px solid #121265;
    transition: 0.5s;
    align-items: center;
  }
  .savebut:hover {
    background: #121265;
    color: #ffffff;
    border: 1px solid #444444;
    font-size: 14px;
  }

  .container h1 {
    font-size: 20px;
    padding : 20px;
  }
}


.savebuthfgc {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #00a0e3;
  border-radius: 5px;
  cursor: pointer;
}
.container table {
  width: 100%;
  border: 2px solid #000;
  border-collapse: collapse;
  margin-top: 20px;
}

.container th {
  padding: 10px;
  text-align: center;
  border: 1px solid #000000;
  background-color: #f4f4f4;
  font-weight: bold;
  
  align-items: center;
}

.container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.container tr:nth-child(odd) {
  background-color: #ffffff;
}


.but{
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 26px;
  font-weight: bold;
  border: 1px solid #444444;

  border-radius: 2px;
  cursor: pointer;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 0.2s;

}

.but:hover{
  box-shadow: 0px 0px 15px  #667;
  width: 41px;
  height: 41;
}

.box{
  display: flex;
  justify-content: center;
}