.container {
    text-align: left;
    padding: 20px;
    margin-top: -40px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  .save{
    border-color: #9802de;
  }
  .save:hover {
    box-shadow: 0px 3px 5px #969090;
    background: #9b00e3;
  }
  .subtitle {
    font-size: 18px;
    color: #666;
  }
  
  .filter-button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
  }
  
  .card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #00a0e3;
    border-radius: 5px;
    cursor: pointer;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff;
  }
  