.container {
  text-align: left;
  padding: 20px;
  margin-top: -40px;

}

.title {
  font-size: 24px;
  font-weight: bold;
}
.savebut{
  background-color: #5983bd;
  color: white;
  font-size: 15px;
  border: none;
  height: 60px;
  width: 300px;
  padding: 20px ;
  cursor: pointer;
  border-radius: 15px;
  border:1px solid #121265;
  transition: 0.5s;
}


.savebut:hover {
  background: #121265;
  color: #ffffff;
  border: 1px solid #444444;
  font-size: 18px;

}



.subtitle {
  font-size: 18px;
  color: #666;
}

@media (max-width: 568px) {
  .savebut{
    display: flex;
    justify-content: center;
    background-color: #5983bd;
    color: white;
    font-size: 12px;
    border: none;
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 15px;
    border:1px solid #121265;
    transition: 0.5s;
    align-items: center;
  }
  .savebut:hover {
    background: #121265;
    color: #ffffff;
    border: 1px solid #444444;
    font-size: 14px;
  }

  .container h1 {
    font-size: 20px;
    padding : 20px;
  }
}


.savebuthfgc {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #00a0e3;
  border-radius: 5px;
  cursor: pointer;
}
.container table {
  width: 100%;
  border: 2px solid #000;
  border-collapse: collapse;
  margin-top: 20px;
}

.container th {
  padding: 10px;
  text-align: center;
  border: 1px solid #000000;
  background-color: #f4f4f4;
  font-weight: bold;
  
  align-items: center;
}


.container th p{
  height: 3px;
  margin-top: 5px;
}
.container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.container tr:nth-child(odd) {
  background-color: #ffffff;
}


.but{
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 26px;
  font-weight: bold;
  border: 1px solid #444444;

  border-radius: 2px;
  cursor: pointer;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 0.2s;

}

.but:hover{
  box-shadow: 0px 0px 15px  #667;
  width: 41px;
  height: 41;
}

.but1{
  width: 40px;
  height: 40px;
  font-size: 26px;
  font-weight: bold;
  border: 1px solid #cdcd1b;
  border-radius: 2px;
  color: rgb(0, 0, 0);
  align-items: center;
  display: flex;
  justify-content: sp;
  text-align: center;
  transition: 0.2s;
  padding-left: 12px;
  border-right: 5px solid #cdcd1b
}

.but1:hover{
  width: 39px;
  border: 1px solid #444444;
  box-shadow: 0px 0px 15px  #667;

}
.grade{
  width: 35px;
  height: 37px;
  font-size: 26px;
  font-weight: bold;
  border: 1px solid #1b89cd;
  border-radius: 2px;
  color: rgb(0, 0, 0);
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 0.2s;
  border-right: 12px solid #1b89cd
}

.grade:hover{
  box-shadow: 0px 0px 15px  #667;
  width: 32px;
  height: 37px;
}


.box{
  display: flex;
  justify-content: center;
}

.thDate{
  display: flex;
  justify-content: center;
  align-items: center;

}

.thDate:hover{
  justify-content: space-around;
}

.thDate:hover{
  background-color: rgb(214, 214, 206);
}

.hanznumBut{
  margin-left: 10%;
  border: none;
  background-color: #1b89cd;
  /* box-shadow: 0px 0px 5px 1px #f2f4f5; */
  width: 55px;
  height: 50px;
  border-radius: 0 0 10px 10px;
  font-size: 25px;
  color: #ffffff;
  padding-top: 0%;
  font-size: 15px;
  transition: 0.3s;
  transform: scale(0.8);

}

.katarumBut{
  border: none;
  background-color: #cdcd1b;
  /* box-shadow: 0px 0px 5px 1px #ffffff; */
  width: 57px;
  height: 50px;  color: #000000;
  border-radius: 0 0 10px 10px;
  padding-top: 0%;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
  transform: scale(0.8);
}
.katarumBut:hover, .hanznumBut:hover {
  width: 55px;
  height: 55px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  
  border-top: 20px solid #1b9ecd;
  cursor: pointer;
  margin-top: -12px;
  margin-left: 8px;
  transform: scale(0.8);
}       




.arrow-down2 {
  width: 0; 
  height: 0; 
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  
  border-top: 20px solid #c2c214;

  margin-top: -12px;
  margin-left: 1px;
  transform: scale(0.8);
}       