.public-schedule-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 5px rgba(1, 1, 33, 0.1);

  }
  
  .title {
    font-size: 34px;
    text-align: center;
  }
  
  .public-table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto;
  }
  
  .public-schedule-table {
    background-color: #ffffff;
    align-items: center;
    border-collapse: collapse;
    table-layout: fixed;
    margin: auto; /* Centers the table */
    border-radius: 65px;

  }
  
  .first{
    width: 100%;
  }
  
  .public-schedule-table th,
  .public-schedule-table td {
    align-items: center;
  
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    word-wrap: break-word;
  }
  .public-schedule-table td{
    min-height: 180px;
    min-width: 200px;
  }
  .day-name {
    font-weight: bold;
    width: 120px;
    text-align: center;
    writing-mode: vertical-rl; 
    vertical-align: center;
    transform: rotate(180deg);

    align-items: center;
    font-size: large;
  }
  
  .class-entry12 {
    
    
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 5px;
    padding: 10px;
    margin: 10px;
    min-width: 120px;
    max-width: 250px;
    background-color: #5983bd;
    color: rgb(255, 255, 255);
  }
  .class-entry p{
    padding: 0;
    margin-bottom: -5px;
  }

  .schedule-input {
    width: 90%;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  .schedule-input1 {
    
    margin: 5px 0;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: monospace;
    font-size: 24px;
  }
  
  .schedule-input2 {
    width: 95%;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .add-class-btn {
    width: 95%;
    height: 50px;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  
  .remove-class-btn {
    width: 95%;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .add-class-btn {
    background-color: #9fb0c3;
    color: white;
  }
  
  .add-class-btn:hover {
    background-color: #0056b3;
  }
  
  .remove-class-btn {
    background-color: red;
    color: white;
  }
  
  .remove-class-btn:hover {
    background-color: darkred;
  }
  
  
  .save-button {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    padding: 8px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 95%;
  }
  
  .save-button:hover {
    background-color: #218838;
  }
  
